#buttons button{
    margin: 0 0.5em 0 0;
}

#description, text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#results {
  min-height: 200px;
  min-width: 200px;
 
}
